* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


.logo {
  font-size: 28px;
  font-weight: 700;
  color: #4B0082;
}

.logo span {
  color: #000;
}

nav a {
  text-decoration: none;
  color: #000;
  margin-left: 25px;
  font-weight: 700;
  text-decoration: none;
}

nav a.active {
  background: #7D53DF;
  color: #fff;
  padding: 5px 12px;
  border-radius: 20px;
  text-decoration: none;
}
.container{
  background: url(WhatsApp\ Image\ 2025-04-09\ at\ 15.51.57_91783f37.jpg) center ; 
  width: 1100px;
  height: 492px;
  margin-left: 100px;
}
.container h2{
  margin-left: 18%;
  font-weight: 900;
  font-size:60px;
  width: 900px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f8f24f;
  text-shadow: #ceca6c 9px 4px 4px ;
}
.container p{
  color: #aaa8a8;
  font-weight: 100;
  size: 38px;
  line-height: 48px;
  letter-spacing: -7%;
  

}
.background{
  width: 1100px;
  height: 500px;
  margin-left: 100px;
}