
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
    flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


.logo {
  font-size: 28px;
  font-weight: 700;
  color: #4B0082;
}

.logo span {
  color: #000;
}

nav a {
  text-decoration: none;
  color: #000;
  margin-left: 25px;
  font-weight: 700;
  text-decoration: none;
}

nav a.active {
  background: #7D53DF;
  color: #fff;
  padding: 5px 12px;
  border-radius: 20px;
  text-decoration: none;
}
 .hero-section {
    width: 1121px;
    height: 492px;
    height: 700px;
    position: relative;
    text-align: center;
    border-radius: 121px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    object-position: center;
    opacity: 76%;
    margin: auto;

  }
  
  .hero-img {
    width: 100%;
  padding-bottom: 20px;
    filter: blur(5px) brightness(0.85);
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding-top:  20px;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }
  
  .hero-text h1 {
    padding-top: 300px;
    text-align: center;
    font-size:55px;
    font-weight: 900;
    color: #F8F24F;
    line-height: 100%;
    letter-spacing: 0%;
    font-family:Georgia, serif ;
    margin-top: 10px;

  }
  
  
  .hero-text p {
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -1%;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    text-align: start;
  }
  *{
    margin: 0;
    padding: 0;}

  .vasanth{
    padding-bottom: 70px;
    padding-top: 70px;
    align-items: center;
    place-self: center;
  }
  .grid{
    display: grid;
  }
  

.page2{

  padding-top: 50px;
  padding-left: 20px;
  display: flex;
}

.page2 p{
  padding-top: 70px;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  animation-name: exampl;
  animation-duration: 15s;

}
@keyframes exampl {
  0%   {left: 0px; bottom:0px;}
  25%  { left: 50px; right:0px;}
}

.page2 img {
  position: relative;
  animation-name: slideIn;
  animation-duration: 15s;
}

@keyframes slideIn {
  from {
    transform: translateX(30px); /* Start slightly to the right */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.page3{
  padding-top: 70px;
  padding-left: 20px; 
  padding-bottom: 70px;
  display: flex;
}

.page3 p{
  padding-top: 200px;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  animation-name: exampl;
  animation-duration: 15s;
}

@keyframes exampl {
  0%   {left: 0px; bottom:0px;}
  25%  { left: 50px; right:0px;}
}
.page3 img{
    position: relative;
  animation-name: slideIn;
  animation-duration: 15s;
}
@keyframes slideIn {
  from {
    transform: translateX(30px); /* Start slightly to the right */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.page4{
  padding-top: 70px;
  padding-left: 20px; 
  padding-bottom: 70px;
  display: flex;
}

.page4 p{
  padding-top: 50px;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  animation-name: exampl;
  animation-duration: 15s;
}

@keyframes exampl {
  0%   {left: 0px; bottom:0px;}
  25%  { left: 50px; right:0px;}
}

.page4 img{
  position: relative;
  animation-name: slideIn;
  animation-duration: 15s;
}
@keyframes slideIn {
  from {
    transform: translateX(30px); /* Start slightly to the right */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.add{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.add h3{
  padding-left: 20px;
  padding-right: 20px;
}
.add2{
  padding-top: 50px;
  padding-bottom: 20px;

}

.aaa h2 {
  padding-left: 10px;

  
}
.aaa ul {
    padding-left: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px;
}

.ass h2{
  padding-top: 20px;
  padding-left: 10px;
}

.add p {
  padding-top: 20px;
  padding-left: 20px;
}

.casa{
  padding-top: 20px;
}

.footer{
  background-color: #7D53DF;
  color: white;
}

.gap{
    display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}