body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .logo{
      width: 50px;
      height: 50px;
      align-content: baseline;
      position: absolute;
      left: 0px;
      top: 0px;
      margin-left: 80px;
      margin-top: 40px;
      border-radius: 25PX;
      
    } 
    
  .container{
    width: 360;
    height:270px;
    top: 213px;
    left: 159px;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 22px;
    box-shadow: 4px 6px 12px rgb(215, 210, 210, 1);
    border: 1px solid #0000;
  
  
  
  }
  .forget-form h2{
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700
  
}
.P1{
    text-align: center;
    size: 700px;
}   
.P2{
    text-align: center;
}
  #botton{
    border-radius: 8px;
    width: 195px;
    height: 47px;
    padding: 8px;
    margin-left: 85px;
   
    background-color: #ae91f3;
    color: white;
    border: 1px;
  }
  #botton:hover{
    background-color:#825ed5 ;
  }