header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }
  
  .logo {
    font-size: 28px;
    font-weight: 700;
    color: #4B0082;
  }
  
  .logo span {
    color: #000;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    margin-left: 25px;
    font-weight: 700;
  }
  
  nav a.active {
    background: #7D53DF;
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
  }


h1{
    padding: 5px 40px;
}
.phr{
    padding-left: 80px;
    justify-content: space-between;
    word-spacing: 5px;
}
.div3{
    display: flex;
    justify-content: center;
    
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 30px;
    border-radius: 50px;
    background-color:  #7D53DF;
    color: white;
    border: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.secound-dev{
  display: grid;
}
.img{
  place-self: center;
}

.grid2{
  display: grid;
  padding-top: 50px;
  padding-left: 20px;
}
.about{
  
}

.about p {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  place-self: center;
  padding-right: 500px;

}
ul{
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
}
.gap .secound-dev{
    display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.gap .about{
    display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}


.gap .img{
    display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}